server:
  port: ${SERVER_PORT:8000}
  servlet:
    context-path: /api

spring:
  config:
    activate:
      on-profile: dev
  application:
    name: ${APPLICATION_NAME:MyShop}

  # Database
  datasource:
    url: ${MYSQL_DATABASE_URL}
    username: ${MYSQL_DATABASE_USERNAME}
    password: ${MYSQL_DATABASE_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari: # connection pooling library
      maximum-pool-size: 5 # maximum number of connection pooling at the same time
      minimum-idle: 1 # minimum number of connection pooling
      idle-timeout: 300000 # free time before canceled
      max-lifetime: 1800000
      validation-timeout: 5000
      connection-test-query: SELECT 1

  # A option in springboot framework is used to define Hibernate behavior in creating and updating database
  # Hibernate will create and update tables in database, corresponding to object in your app.
  # if table don't exist, Hibernate will create it. Else, Hibernate will update changes
  jpa:
    generate-ddl: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect

  lombok:
    enabled: true

  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${ISSUER_URI}
          jwk-set-uri: ${JWK_SET_URI}

cloudinary:
  cloudName: ${CLOUDINARY_CLOUD_NAME}
  apiKey: ${CLOUDINARY_API_KEY}
  apiSecret: ${CLOUDINARY_API_SECRET}

# automatically config
#cloudinary:
#  cloud_name: ${CLOUDINARY_CLOUD_NAME}
#  api_key: ${CLOUDINARY_API_KEY}
#  api_secret: ${CLOUDINARY_API_SECRET}

# Keycloak
keycloak:
  admin:
    enabled: true
    auth-server-url: ${KEYCLOAK_SERVER}
    credentials:
      client-secret: ${KEYCLOAK_CLIENT_SECRET}
#      username: ${KEYCLOAK_ADMIN_USER}
#      password: ${KEYCLOAK_ADMIN_PASSWORD}
      client-id: ${KEYCLOAK_CLIENT_ID}
    realm: ${KEYCLOAK_REALM}
    bearer-only: 'true'

#springdoc:
#  api-docs:
#    path: /api-docs # /v3/api-docs (default)
#  swagger-ui:
#    path: /swagger-ui-custom.html # /swagger-ui/index.html (default)
#    operationsSorter: method # sort api